body{
    height:100 ;
    background-color: beige;
}

 header{
    display: block;
    background-color: #f0f80f;text-align: justify;
 }


H1 { text-align: center;

}

p{ text-align: justify; size:18cm;}







